### IntelliJ
.idea/
*.iml

### Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
terraform/.terraform
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

### Project Conventions
dev.*auto.tfvars
backend.tf